conflux_seasons:shop_open should call function conflux_seasons:shop/pre_open
conflux_seasons:shop_buy should call function conflux_seasons:shop/buy/check_balance with storage conflux_seasons:shop items[$(order)], where order is the index of the item to buy
conflux_seasons:shop_withdraw_sols should give the player $(withdraw_range) sols from loot table conflux_seasons:solstice_shard, and remove $(withdraw_range) from player's solstice_shards score. Also validate that $(withdraw_range) is not greater than player's solstice_shards score before withdrawing.


The server should also add helper methods for adding items to the shop. A skript example, server_shop_example.sk, is included with this datapack.